html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

body{
    margin: 0 auto;
    font-family: "Raleway";
    max-width: 1600;
}

h1{
   color: #fba479;
}

h2{
    color: rgba(225, 106, 162, 0.571);
}

img{
    max-width: 100%;
}

.header{
    background-color: rgb(239, 224, 208);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

@media screen and (min-width: 1200px){
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}


.logo{
    width: 120px;
}

.formulario{
    display: flex;
}

.busqueda{
    display: none
}

@media screen and (min-width: 768px){
    .busqueda{
        display: block;
        padding: 15px 40px 15px 15px;
        border: 1px solid #fff;
        border-radius: 5px;
    }
}

button{
    background-color: #fba479;
    color: #fff;
    border: 1px solid #dae6f4;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    margin-right: 50px;
    
}

.lupa{
    width: 40px;
    height: 30px;
}

.container-carrito{
    position: relative;
}

.carrito{
    margin-left: 40px;
    width: 40px;
    color: #111;
}

.carrito:hover{
    cursor: pointer;
}

.productos{
    position: absolute;
    top: 55%;
    right: 0;
    background-color: #111;
    color: #fff;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

#contador-productos{
    font-size: 14px;
}

.container-pcar{
    position: absolute;
    top: 54px;
    right: -90px;
    background-color: rgb(239, 224, 208);
    width: 355px;
    z-index: 1000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

@media screen and (min-width: 768px){
    .container-pcar{
        width: 420px;
        top: 54px;
        right: -80px;
    }
}

@media screen and (min-width: 1120px){
    .container-pcar{
        width: 440px;
        top: 54px;
        right: 0px;
    }
}


.productos-cart{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

.info-cart{
    display: flex;
    justify-content: space-between;
    gap: 10px; 
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}


.cantidad-producto{
    font-weight: 400;
    font-size: 20px;
}

.titulo-cart{
    font-size: 20px;
}

.titulo-cart, .precio-producto, .cantidad-producto{
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.productos-carrito{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.precio-producto{
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
}

.cerrar{
    width: 50px;
    height: 26px;
    padding: 5px;
    background-color: #fba479;
    color: white;
    border-radius: 50%;
}

.cerrar:hover{
    background-color: #c85e37;
    cursor: pointer;
    color: #fff;
}

.total-carrito{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 30px;
}

.total-carrito h3{
    font-size: 20px;
    font-size: 600;
}

.vaciar-carrito{
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    height: 38px;
    background-color: #fba479;
    border: 1px solid #fff;
    padding:  25px;
    text-transform: uppercase;
    color: white;
    margin: 0 auto; 
    overflow: hidden;
    white-space: nowrap;
    border-radius: 10px;
    margin-bottom: 30px;
}

.cart{
    display: none;
}

.slider-contenedor{
    position: relative;
    overflow: hidden;
    list-style: none;
    z-index: 1;
}

.slider-sl{
    width: 100%;
    height: 50%;
    flex-shrink: 0;
    position: relative;
    transition-property: transform;

}

.slider-img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #111;
    border-radius: 50px;
}

.contenido-hero{
    position: relative;
    background: linear-gradient(to right, #f6d7bf, #fba479, #c85e37);
    margin: -50px 50px 0px 50px;
    border-radius: 8px;
    z-index: 2;
}

.novedades{ 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 30px;
}

@media screen and (min-width: 768px){
    .novedades{
        display: grid;
    grid-template-columns: repeat(3, 1fr);
    }
}

.novedad1,
.novedad2{
    text-align: center;
    border-bottom: 3px solid #fffafa; 
    margin-bottom: 6px;
}

@media screen and (min-width: 768px){
    .novedad1,
    .novedad2{
        border-right: 3px solid #fffafa; 
        border-bottom: none;
    }
}

.novedad3{
    text-align: center;
}

.novedad-heading{
    color: #fff;
}

.novedad-imagen{
    width: 60px;
    transition-property: transform;
    transition-duration: 300ms;
}

.novedad-imagen:hover{
    transform: scale(1.2);
}


.container-libros{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.categorias-filtros {
    margin-top: 10px;
    
  }

.filtrar{
    display: flex;
   justify-content: flex-end;
   border: 1px solid #111;
   font-weight: 600;
}

.columna-filtrado{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    margin-bottom: 15px;
}

.close{
    width: 30px;
    cursor: pointer;
}

 .titulo-categorias {
    background-color: none;
    color: #333;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }
  
.img-filtro {
    width: 40px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
.rotar{
    transform: rotate(90deg);
}

  .contenido-categorias {
    display: none;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px; 
    background-color: rgb(239, 224, 208);
    transition: width 0.3s ease;
    z-index: 1000;
    overflow-y: auto; 
  }

  .categorias-columnas{
    padding: 20px;
    z-index: 10;
  }

  .columnas-categorias h3{
    margin-bottom: 10px;
  }
  
  .contenido-categorias.active {
    display: block;
  }

  .titulo-filtrar{
    padding: 10px;
    font-size: 22px;
  }

li{
    width: 100%;
    display: none;
    list-style: none;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 0 20px;
}

li.selected {
    color: #fba479;
}

ul.mostrar li{
    display: block;
    visibility: visible;
}

.titulo-icono1,
.titulo-icono2,
.titulo-icono3,
.titulo-icono4{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.abajo{
    width: 25px;
    cursor: pointer;
}


.btnrecomendada{
    text-decoration: none;
    border-radius: 3px;
    color: #111;
    border: 1px solid #111;
    padding: 10px;
}

.btnrecomendada:hover{
    background-color: #111;
    background-position: -100% 0;
    color: #fff;
}


.card{
    border-radius: 10px;
}

.cards-libros{
    width: 100%;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
}

@media screen and (min-width: 768px){
    .cards-libros{
        display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1120px){
    .cards-libros{
        display: grid;
    grid-template-columns: repeat(3, 1fr);
    }
}

.card:hover{
    box-shadow: 0 10px 20px rgb(0, 0, 0, .2);
}

.card-img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.info-card{
    padding: 15px 30px;
}

.info-card h4{
    color: #fba479;
    font-size: 22px;
    margin-bottom: 8px;
}

.autor-card{
    margin-bottom: 5px;
    color: #737373c0;
}

.precio{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.boton-agregar{
    padding: 15px 30px;
    text-decoration: none;
    display: block;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    background-color: #fba479;
    cursor: pointer;

}

.container-autora{
    padding: 40px;
}

.container-autora h2{
    margin-bottom: 40px;
}

.autor{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 40px;
}

@media screen and (min-width: 768px){
    .autor{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.img-autor img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

@media screen and (min-width: 768px){
    .img-autor img{
        border-radius: 300px 0px 300px 0px;
    width: 100%;
    height: 350px;
    object-fit: cover;
    }
}


.info-autora{
    background-color: #f6d7bf;
    border-radius: 0 0 100px 0;
    padding: 30px;
}

@media screen and (min-width: 1120px){
    .info-autora{
        border-radius: 0 0 200px 0;
    }
}

.info-autora p{
    margin-bottom: 20px;
}

.info-autora h2{
    font-size: 40px;
}

.boton-autora{
    display: flex;
}

.boton-autor{
    text-decoration: none;
    background-color: #fff;
    color: #111;
    padding: 15px;
    border-radius: 10px 0 0 10px;
}

.autora-svg{
    width: 40px;
    background-color: #c85e37;
    border-radius: 0 10px 10px 0px;
    color: #fff;
}

.categorias{
    margin-top: 50px;
    background: #c85e37;
    padding: 15px 15px;
}

@media screen and (min-width: 1000px){
    .categorias{
        padding: 20px 30px;
    }
}

.categorias-info{
    text-align: center;
    padding: 0 50px;
}

@media screen and (min-width: 768px){
    .categorias-info{
        padding: 0 40px;
        text-align: left;
    }
}


.categorias h3{
    color: #fff;
    font-size: 30px;
    padding: 15px 0;
}

@media screen and (min-width: 768px){
    .categorias-info{
        padding: 15px;
    padding-left: 0;
    }
}

.categorias p{
    color: #fff;
}

.libros-destacados{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 10px;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-top: 50px;
    margin-bottom: -100px;
    padding: 0 20px; /* Añade padding solo a los lados */
    margin-left: -20px; /* Compensa el padding negativo */
    margin-right: -20px;
}

@media screen and (min-width: 800px){
    .libros-destacados{
        display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    }
}

.libros-destacados::-webkit-scrollbar {
    display: none; /* Oculta las barras de desplazamiento */
}

.categoria{
    border: 35px solid #f6d7bf;
    overflow: hidden;
    border-radius: 30px;
}

.categoria-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-top: -15px;
    transition: all .5s;
}

.categoria-img:hover{
    transform: scale(1.1);
}

.info-categoria{
    margin-top: -4px;
    margin-bottom: -15px;
    padding: 15px 15px 30px 15px;
    background-color: #fba479;
    text-align: center;
}

.suscribete{
    margin-top: 80px;
    padding: 45px;
}

.sub-contenido{
    padding: 15px;
    text-align: center;
}

@media screen and (min-width: 768px){
    .sub-contenido{
       text-align: left;
    }
}

.sub-contenido p{
    margin-bottom: 15px;
}

.heading-sub{
    text-align: center;
    padding: 15px;
    font-size: 25px;
    margin-bottom: 30px;
}

.heading-s{
    color: #c85e37;
    font-size: 35px;
    padding-left: 10px;
    padding-bottom: 15px;
    text-align: center;
}

@media screen and (min-width: 768px){
    .heading-s{
       text-align: left;
    }
}

.suscripcion {
    padding: 15px;
    border-radius: 30px;
    background-color: #fba479;
    display: grid;
    gap: 10px;
    align-items: center;
    justify-items: start;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
    .suscripcion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
        gap: 30px; /* Ajusta el espacio entre las columnas */
        justify-items: center;
    }
}

.boton-sub{
    display: flex;
}

.boton-subs{
    background-color: #f6d7bf;
    padding: 18px;
    text-decoration: none;
    color: #111;
    border-radius: 10px 0 0 10px;
}

.sub-svg{
    color: #fff;
    width: 40px;
    background-color: #c85e37;
    border-radius: 0 10px 10px 0px;
}

.heading-suscribete{
    font-size: 30px;
    color: #fff;
}

.footer{
    background-color: #f6d7bf;
    padding-top: 30px;
}


.columnas{
    display: flex;
    flex-direction: column;
    padding:0 30px 30px 30px;
}


@media screen and (min-width: 768px){
    .columnas{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}


.libreria{
    padding: 0 15px;
    text-align: center;
    margin-bottom: 15px;
}


@media screen and (min-width: 768px){
    .libreria{
        text-align: left;
        margin-bottom: 0;
    }
}


.libreria h2,
.libreria p{
    margin-bottom: 10px;
}

.tiendas{
    text-align: center;
}

.tiendas h2,
.tiendas p{
    text-align: center;
    margin-bottom: 10px;
}

.imagenes-tienda{
    padding: 15px;
}

.img-tienda{
    width: 35px;
    margin-right: 5px;
    transition-property: transform;
    transition-duration: 300ms;
}

.img-tienda:hover{
    transform: scale(1.2);
}

.metodospago{
    text-align: center;
}

.metodospago img{
    width: 250px;
}

.copyright{
    text-align: center;
    color: #fff;
    display: block;
    padding: 15px;
    background-color: #c85e37;
    text-decoration: none;
}




